:root {
    --header-font-color: #ffffff;
    --content-font-color: #000000;

    --primary-font-color: #449399;
    --primary-font-size: 16px;
    --secondary-font-color: #449399;
}

.cv {
    font-weight: 400;
    font-style: normal;
    color: var(--header-font-color)
}

.cv .title-secondary {
    font-size: 14px;
    font-style: italic;
    color: var(--primary-font-color);
}

.cv .text-secondary {
    font-size: 14px;
    font-style: italic;
}

.cv .pill{
    font-size: 12px;
    font-weight: normal;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #d8d5d5;
    margin-right: 2px;
}

.cv .big-pill{
    font-size: 16px;
    font-weight: normal;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #d8d5d5;
    margin-right: 4px;
}

.cv ul{
    list-style: none;
}

.cv li{
    margin-left: -1em;
}

.cv li::before{
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    color: var(--primary-font-color);
}

.cv .header {
    background-color: #313c4e;
}

.cv .header .name {
    font-size: 46px;
    line-height: 40px;
}

.cv .header .role {
    color: var(--primary-font-color);
    font-size: 22px;
}

.cv .header .description {
    font-size: var(--primary-font-size);
}

.cv .sub-header {
    background-color: #222a33;
}

.cv .sub-header a {
    color: var(--header-font-color);
    text-decoration: none;
}

.cv .content {
    color: var(--content-font-color);
}

.cv .content .title {
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 28px;
    text-decoration: underline;
}

.cv .work-experience-item .role {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}

.cv .work-experience-item .company {
    font-size: 22px;
    line-height: 24px;
}

.cv .content .block {
    page-break-inside: avoid;
}
.cv .content .block .title {
    display: none;
} 

.cv .content .block:first-of-type .title{
    display: initial;
} 

@media print {
    .no-print{
        display: none;
    }
    div.item {
        page-break-inside: avoid;
    }
    div#resume {
        margin: 0 !important;
        padding: 0 !important;
        max-width: unset;
    }
}

@page:first {
    margin-top:0;
}

@page {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;   
}