:root {
    --header-font-color: #3f3f3f;
    --header-bg-color: #ffffff;
    --header-font-size: 32px;
    --header-font-line-height: 40px;
    --body-font-color: #3f3f3f;
    --primary-font-color: #449399;
    --big-font-size: 18px;
    --big-font-line-height: 18px;
    --secondary-font-color: #6c757d;
    --info-font-color: #449399;
    --normal-font-size: 14px;
    --normal-font-line-height: 14px;
    --small-font-size: 12px;
    --small-font-line-height: 12px;
    --title-font-size: 20px;
}

body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.cv {
    font-style: normal;
    color: var(--header-font-color)
}

.cv .cv-text-primary {
    color: var(--primary-font-color);
}

.cv .cv-text-info {
    color: var(--info-font-color);
}

.cv .cv-text-secondary {
    color: var(--secondary-font-color);
}

.cv .cv-text-body {
    color: var(--body-font-color);
}

.cv .cv-text-big {
    font-size: var(--big-font-size);
    line-height: var(--big-font-line-height);
}

.cv .cv-text-normal {
    font-size: var(--normal-font-size);
    line-height: var(--normal-font-line-height);
}

.cv .cv-text-small {
    font-size: var(--small-font-size);
    line-height: var(--small-font-line-height);
}

.cv .pill {
    font-size: var(--small-font-size);
    font-weight: normal;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #d8d5d5;
    margin-right: 2px;
    margin-bottom: 5px;
}

.cv .big-pill {
    font-size: var(--normal-font-size);
    font-weight: normal;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #917e7e;
    margin-right: 4px;
    margin-bottom: 5px;
}

.cv ul {
    list-style: none;
    margin-bottom: 0px;
}

.cv li {
    margin-left: -1em;
}

.cv .print-overlay {
    position: absolute;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.cv .print-footer {
    page-break-inside: avoid;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.cv li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: var(--primary-font-color);
}

.cv .header {
    background-color: var(--header-bg-color);
    min-height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: var(--header-font-size);
    line-height: var(--header-font-line-height);
}

.cv a {
    text-decoration: none;
    color: inherit;
}

.cv .avatar-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cv .header .avatar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    border: 2px solid var(--primary-font-color);
    border-radius: 50%;
}

.cv .content {
    color: var(--body-font-color);
}

.cv .content .title span {
    color: var(--primary-font-color);
    font-weight: 700;
    font-size: var(--title-font-size);
    text-decoration: underline;
}

.cv .section.float-start {
    padding-right: 1rem!important;
}

.cv .section.float-end {
    padding-left: 1rem!important;
}

.cv .content .block {
    page-break-inside: avoid;
}

.cv .avoid-break-inside {
    page-break-inside: avoid;
}

.cv .content .block .title span {
    display: none;
}

.cv .content .block:first-of-type .title span {
    display: initial;
}

@media print {
    .no-print {
        display: none;
    }
    div.item {
        page-break-inside: avoid;
    }
    .avoid-break-inside {
        page-break-inside: avoid;
    }
    div#resume.container {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@page {
    margin: 0;
    padding: 0;
}